

  body{ direction: rtl } 
 h1 { padding:10px 0 0 35px; background-color: slateblue; direction: ltr
; font-family: 'Courier New', Courier, monospace;}
h2{ font-weight: bold ; ;
font-style: italic;
} li{font-weight: bold; font-size: 25px;}
 p{font-weight: bold; font-size: 20px;} 
 .stress{ font-size: 30px ; font-weight: bolder;}